@font-face {
  font-family: 'Creepster';
  src: url('./Creepster.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Underdog';
  src: url('./UnderDog.woff2') format('woff2');
  font-weight: normal;
}
body{
  font-size: 20px;
}
.ql-editor{
  font-size: 16px;
}
.ql-editor.ql-blank::before{
  color: rgba(255,215,255,.5)
}
.ql-snow .ql-stroke{
  stroke: #868 !important;
}
input:focus-visible, select:focus-visible, textarea:focus-visible {
  box-shadow: none !important;
  border-color: rgb(165, 151, 196) !important;
}