@font-face {
  font-family: 'Creepster';
  src: url('./Creepster.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Underdog';
  src: url('./UnderDog.woff2') format('woff2');
  font-weight: normal;
}
body{
  font-size: 20px;
}
input:focus-visible, select:focus-visible, textarea:focus-visible {
  box-shadow: none !important;
  border-color: rgb(165, 151, 196) !important;
}
@media print {
  /* All your print styles go here */
  body{ position: relative; }
    * {
    height: auto !important;
    font-size: 10pt;
    max-height: 100% !important;
    overflow: visible !important;
    page-break-before: always;
  }
  header,
  footer, 
  button,[role='tooltip'] {
    display: none !important;
  }
}
